@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    font-family: 'Nunito', sans-serif;
    
  }
  .bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 100;
    font-style: normal;
  }
  .bellefair-bold {
    font-family: "Bellefair", serif;
    font-weight: 700;
    font-style: normal;
  }  

}
@layer utilities{
  .heroBackground {
    background-image: url('/path-to-your-background-image.jpg');
  }
  
  .textEnter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .textEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .textExit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .textExitActive {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
} 